body{
font-family: latha;
color: black;
background:url(000food.JPEG)no-repeat;
background-size: cover;
}
.box{ width: 900px;
float: right;
border:1px solid black;}
.box ul li	{
width: 120px;
float: left;
margin: 10px auto;
text-align: center;
}
.box ul li a{ text-decoration: none;
        color: black;}

.box ul li:hover { background-color: rosybrown;}
.box ul li a:hover{ color: white;}
.wd{
width: 300px;
height: 670px;
background-color: black;
opacity: 0.9;    
padding: 55px;
}
.wd h1{
text-align: center;
text-transform: uppercase; 
font-weight: 100px;
}
.wd h4{
text-align: justify;
color: darkgrey;
font-weight: normal;
} 
.wd h2{
text-align: center;
text-transform: uppercase;
font-weight: normal;
margin: 40px auto;
}
.opt a,button {
background-color: black;
color: white;
padding: 10px;
margin: 14px auto;
padding-left: 60px;
padding-right: 50px;
text-align: center;
}


